@import "tailwindcss";

@theme {
  --font-main: "Playfair Display", serif;
  --font-body: "Merriweather", serif;

  --color-gold-main: #efbf04;
  --color-blue-main: #0434ef;
}

@utility page-container {
  @apply h-full w-full p-5;
}

@utility center-content {
  @apply flex items-center justify-center;
}

@utility title-hero {
  @apply font-main text-center text-4xl font-black min-[425px]:text-5xl;
}

@utility title-sub {
  @apply font-body text-center text-3xl font-bold;
}

@utility span-burger {
  @apply inline-block h-1.5 w-8 bg-white;
}

@utility paragraph {
  @apply font-body mt-5 text-center text-base text-white sm:w-lg lg:text-lg;
}
