@import "tailwindcss";

@theme {
  --font-main: "Playfair Display", serif;
  --font-body: "Merriweather", serif;

  --color-gold-main: #efbf04;
  --color-blue-main: #0434ef;
}

@utility page-container {
  @apply min-h-screen w-full p-5;
}

@utility center-content {
  @apply flex items-center justify-center;
}

@utility title-hero {
  @apply font-main text-center text-4xl font-black min-[425px]:text-5xl;
}

@utility title-sub {
  @apply font-body text-center text-3xl font-bold;
}

@utility span-burger {
  @apply absolute inline-block h-1.5 w-8 bg-white;
}

@utility paragraph {
  @apply font-body text-center text-base text-white sm:w-lg lg:text-lg;
}

@utility btn-glow {
  /* 1. A subtle tinted border to define the edge of the glass */
  border: 1px solid rgba(250, 215, 0, 0.3);

  /* 2. The layered shadows */
  box-shadow:
    /* OUTER GLOW: The soft, blurred golden aura bleeding outside */
    0 0 20px 2px rgba(250, 215, 0, 0.4),
    /* INNER TOP HIGHLIGHT: The bright reflection on the top edge */ inset 0 2px
      4px rgba(255, 255, 255, 0.4),
    /* INNER BOTTOM GLOW: A soft gold reflection inside the bottom edge */ inset
      0 -4px 10px rgba(250, 215, 0, 0.2);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.active-link {
  position: relative;
  z-index: 1;
  padding: 2px 1px;
  border-radius: 0.5rem;
}

.active-link::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--color-gold-main)
  );
  border-radius: inherit;
  animation: rotate 4s linear infinite;

  padding: 2px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
